<div class="sidebar">
  <ul>
    <li>
      <a href="/">
        <i class="fas fa-chart-bar"></i>
        <span class="menu-item">Dashboard</span>
      </a>
    </li>
    <li>
      <a href="/categorias">
        <i class="fas fa-th"></i>
        <span class="menu-item">Categorias</span>
      </a>
    </li>
    <li>
      <a href="/produtoras">
        <i class="fas fa-video"></i>
        <span class="menu-item">Produtoras</span>
      </a>
    </li>
    <li>
      <a href="/videos">
        <i class="fas fa-film"></i>
        <span class="menu-item">Filmes</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fas fa-sign-out-alt"></i>
        <span class="menu-item">Logout</span>
      </a>
    </li>
  </ul>
</div>
